
<html>


<link rel="stylesheet" href="/assets/css/style.css"/>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.fullPage.js"></script>
<script type="text/javascript" src="/assets/js/jquery.easing.js"></script>
<script type="text/javascript" src="/assets/js/jquery.slimscroll.js"></script>
<script type="text/javascript" src="/assets/js/blog.js"></script>

<!--<script type="text/javascript" src="/vendor/angular/angular.js"></script>-->
<!--<script src="/vendor/angular-resource/angular-resource.js"></script>-->
<!--<script src="/vendor/angular-route/angular-route.js"></script>-->
<!--<script src="/app/app.js"></script>-->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.min.css"></script>-->


<link href='https://fonts.googleapis.com/css?family=Titillium+Web:300,400|Open+Sans:400,300,700|Lato:300' rel='stylesheet' type='text/css'>


<body>
    <header>

        <div class="menu">
            <a href="/"><p>MENU</p></a>
        </div>
        <div class="toggle_menu">
            <ul>
                <li>Home</li>
                <li>Blog</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
        </div>
    </header>
    <div class="container">
        <div id="fullpage">
            <div class="section" id="section5">
                <div class="left-content">
                    <div class="article_holder">
                        <div class="about_text">
                            <h4>August 4, 2015</h4>
                            <h1>The Essence of Social Media</h1>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit
                                voluptatem accusantium doloremque laudantium,
                                totam rem aperiam, eaque ipsa quae ab illo
                                inventore veritatis et quasi architecto beatae vitae
                                dicta sunt explicabo. Nemo enim ipsam voluptatem
                                quia voluptas sit aspernatur aut odit aut fugit, sed
                                quia consequuntur magni dolores eos qui ratione
                                voluptatem sequi nesciunt. Neque porro quisquam
                                est, qui dolorem ipsum quia dolor sit amet,
                                consectetur, adipisci velit, sed<br><br>

                                quia non numquam eius modi tempora incidunt ut
                                labore et dolore magnam aliquam quaerat
                                voluptatem.</p>
                        </div>
                    </div>
                </div>
                <div class="right-content">
                    <div class="section_image">

                    </div>
                </div>
            </div>
            <!--end of section 5-->
            <div class="section" id="section6">

                <div class="article_holder">
                    <div class="about_text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas porta molestie lectus, in mollis lorem laoreet vel. Suspendisse et erat suscipit neque consectetur faucibus non at leo. Phasellus nec odio eu elit aliquet commodo. Aliquam erat volutpat. Morbi ut consequat lorem. Fusce lacinia id metus sed accumsan. Aenean vehicula, ex vel consequat lobortis, justo mi consectetur dolor, sed molestie mauris diam in elit. Donec quis urna purus.<br><br>

                            Sed feugiat lectus orci, sit amet bibendum ligula maximus eu. Duis at consequat ante, vitae facilisis ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris arcu mi, iaculis quis rutrum eu, rutrum at enim. Vestibulum fringilla odio metus,<br><br> sit amet efficitur nisi porttitor at. Praesent ullamcorper molestie orci, id mollis arcu gravida in. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque accumsan, odio sed tempor sollicitudin, purus augue luctus tellus, ut finibus orci velit viverra quam. In efficitur erat et mauris pharetra scelerisque. Sed vulputate lorem dui, ac pretium elit venenatis id.

                            Nulla tristique tortor a mauris rhoncus, ut bibendum risus vehicula. Nullam nec justo at purus tempor elementum eu in sem. Donec lobortis accumsan nisi. Fusce mauris ex, cursus sed dignissim sit amet, finibus vel lectus. Duis ullamcorper, augue sed porttitor fringilla, sem massa finibus risus, at bibendum erat ipsum id lacus. Suspendisse a diam mi. Quisque a nisl ac ex iaculis pulvinar. Quisque iaculis venenatis sem, nec tincidunt leo scelerisque in.<br><br>

                            Fusce sit amet elementum ipsum, vel consequat lacus. Mauris quis tortor sit amet turpis faucibus sodales. Nulla facilisi. Integer molestie, est ut fermentum gravida, mauris nulla interdum mi, id feugiat magna velit non neque. Cras eget lectus ultricies, elementum tellus auctor, pulvinar nibh. Nullam pulvinar eleifend sapien, vitae convallis nulla scelerisque sit amet. Praesent eu viverra ligula. Nunc tincidunt porta elit vel ullamcorper. Suspendisse eu pretium orci. Cras tincidunt leo risus, ac tristique libero bibendum non. Donec nec tellus et velit volutpat elementum. Praesent in sem a elit tempus tempor.</p>
                    </div>
                </div>

                <div class="right-content">
                    <div class="section_image">

                    </div>
                </div>
            </div>
            <!--end of section 6-->

    </div>
</body>
</html>